#warning-desc {
    color: #FFFFFF;
    font-style: italic;
    font-size: 10px;
}

input[type=text] {
    width: 100%;
    padding: 15px 15px 15px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 86%);
    outline: none;
    font-size: 20px;
}

input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: hsl(0, 1%, 44%);
    font-size: 20px;
    font-weight: bold;
    opacity: 1;
    /* Firefox */
}

p {
    color: hsl(0, 1%, 44%);
    font-size: 14px;
}

@media only screen and (min-width: 1440px) {
    input[type=text] {
        font-size: 30px;
    }

    #warning-desc {
        color: #FFFFFF;
        font-style: italic;
        font-size: 14px;
    }

    input::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-size: 30px;
    }

    p {
        color: hsl(0, 1%, 44%);
        font-size: 20px;
    }
}